<div class="card bg-base-300 w-max-[600px] mx-auto shadow-xl p-3 my-4">
  <div class="card-body">
    <h2 class="card-title"> <%= @comment.user.email %> </h2>
    <p><%= @comment.body %></p>
    <div class="card-actions justify-end">

    <% if @comment.replies %>

      <div>
        <div class="text-[16px] px-[25px] px-[10px] inline">
          <%= link_to  comment_path, data: { turbo_frame: 'modal'  } do %>
            <i class="fas fa-comment-alt"></i>
          <% end %>
        </div> <%= comment_count %>
      </div>
    <% end %>
    <div class="card-actions justify-end">
      <% comment_links.each do |links| %>
        <%= links %>
      <% end %>

    </div>
    </div>
  </div>
</div>

  <% if @comment.replies %>
    <div class="queue"></div>
    <% @comment.replies do |comment| %>
      <div class="card bg-base-300 w-max-[600px] mx-auto shadow-xl p-3 my-4">
        <div class="card-body">
          <h2 class="card-title"> <%= comment.user.email %> </h2>
          <p><%= comment.body %></p>
          <div class="card-actions justify-end">

          <% if !@comment.replies %>

            <div>
              <div class="text-[16px] px-[25px] px-[10px] inline">
                <%= link_to  comment_path, data: { turbo_frame: 'modal'  } do %>
                  <i class="fas fa-comment-alt"></i>
                <% end %>
              </div> <%= comment_count %>
            </div>
          <% end %>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">Buy Now</button>
          </div>
          </div>
        </div>
      </div>
    <% end %>
  <% else %>

  <% end %>

