<!DOCTYPE html>
<html>
  <head>
    <title>SimpleroTakeHomeTestRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= turbo_frame_tag "modal" %>

    <%= render NavbarComponent.new user: current_user %>
    <div class="fixed inset-0 px-4 py-6 pointer-events-none sm:p-6 sm:items-start sm:justify-end">
      <div class="flex flex-col items-end justify-center">
        <% flash.each do |type, data| %>
          <%= render NotificationComponent.new(type: type, data: data) %>
        <% end %>
      </div>
    </div>
    <main class="container mx-auto mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
